.favorites-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movie-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.movie-item h3 {
  font-size: 16px;
  margin: 0;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
}

/*button:hover {
  background-color: #da1b1b;
}*/

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
