.Home{
margin:0;
padding: 0;
}

/* Contenedor principal */
.container {
  margin: auto;
  max-width: 1200px;
  padding: 0 10px;
}

.viewtrailer{
  min-height: 500px;
}

.reproductor{
  width: 100%;
  height: 500px;
}

/* Estilos para la sección de detalles de la película */
.movie-details {
  margin-top: 10px;
}

.movie-details h1 {
  margin-bottom: 10px;
}

.movie-details p {
  margin-bottom: 10px;
}

/* Estilos para la sección de comentarios */
.comment-section {
  margin-top: 20px;
}

.comment-section textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
}

.comment-section .buttons-container {
  display: flex;
  justify-content: space-between;
}

.comment-section button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.boton{
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  margin: 10px;
}
