.viewtrailer{
    min-height: 700px;
    background-size: cover;
    background-position:center;
  
    display: flex;
    align-items: flex-end;
  }
  .boton{
    background-color: #0F1014;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin: 10px;
  }
  .reproductor{
    width: 100%;
    height: 600px;
  }

  .rating {
    display: flex;
    align-items: center;
  }

.btn{
  margin: 15px;
  background-color: #0F1014;
  border: 1px solid white;
  cursor: pointer;
}


p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-title{
  cursor: pointer;
}

.movie-details p {
  margin: 10px 0; /* Esto establece un margen vertical de 10px y un margen horizontal de 0 para todos los párrafos dentro de .movie-details */
}
